@font-face{
    font-family: 'Gilroy';
    src: url("fonts/AnyConv.com__Gilroy-Bold.woff2"),
         url("fonts/Gilroy-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family: 'Gilroy';
    src: url("fonts/AnyConv.com__Gilroy-Medium.woff2"),
         url("fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family: 'Gilroy';
    src: url("fonts/AnyConv.com__Gilroy-Regular.woff2"),
         url("fonts/Gilroy-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: 'Gilroy';
    src: url("fonts/AnyConv.com__Gilroy-SemiBold.woff2"),
         url("fonts/Gilroy-SemiBold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
body{
    font-family: 'Gilroy';
    margin: 0;
    padding: 0;
    background-image: url(img/picture.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
}
.icon{
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.01em;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px 0 80px;
}
.navigation{
    display: flex;
    gap: 65px;
    list-style: none;
}
.navigation li a{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.contents{
    text-align: center;
    margin: 92px 0px 46% 0;
}
h1{
    font-size: 4.04vw;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: white;
}
.contents p{
    font-weight: 400;
    font-size: 1.263vw;
    line-height: 160%;
    color: white;
    opacity: 0.8;
}
form {
    position: relative;
    width: 344px;
    margin: 0 auto;
}
.form input, .form button {
    outline: none;
    background: transparent;
    background: rgba(255, 255, 255, 0.15);
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px)
}
.form input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 29px;
    opacity: 0.7;
}
.form button {
    border: none;
    border-radius: 25px;
    padding: 0;
    height: 42px;
    position: absolute;
    top: 10%;
    right: -4%;
    cursor: pointer;
}
.why{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;
}
h2{
    font-size: 42px;
    line-height: 49px;
    font-weight: 700;
    color: #1E1E1E;
}
h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1E1E1E;
    opacity: 0.9;
}
.box-couse{
    display: flex;
    gap: 27px;
}
.cause p{
    font-weight: 400;
    font-size: 16px;
    line-height: 185%;
    color: #1E1E1E;
    opacity: 0.8;
}
.next a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #E58411;
    font-weight: 500;
    font-size: 14px;
}
.movement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 80px 0;
}
.displacement{
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    border-radius: 44px;
}
.displacement li{
    list-style-type: none;
    padding: 6px 0 6px 6px;
}
.displacement a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 185%;
    color: #1E1E1E;
    opacity: 0.8;
    padding: 7px 19px;
    border-radius: 32px;
}
.displacement a:visited, a:focus, a:hover {
    background-color: #fff;
}
.best-product{
    background-color: #F7F7F7;
}
.best-chair{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.chair{
    background-color: #FAFAFA;
    width: 268.09px;
    border-radius: 30px;
}
.info{
    background-color: white;
    padding: 14px 22px 28px 22px;
}
.info p{
    color: #8D8D8D;
    font-size: 17px;
    line-height: 20px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price p{
    color: #0D1B39;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}
.best-product .next a{
    justify-content: center;
    background-color: #F7F7F7;
}
.best-product .next{
    padding: 56px 0 50px 0;
}
.experience .text-wrap{
    margin-right: 50px;
}
.text-wrap p:first-child{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #E58411;
}
.text-wrap p:last-child{
    font-size: 18px;
    font-weight: 400;
    line-height: 185%;
    color: #1E1E1E;
    opacity: 0.8;
}
.img-experience{
    margin-top: 240px;
    position: relative;
}
.img1{
    position: relative;
    z-index: 1;
}
.form1{
    position: absolute;
    left: 44%;
    top: 2%;
}
.form2{
    position: absolute;
    top: -12%;
}
.experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.materials{
    margin-top: 270px;
    display: flex;
    justify-content: space-between;
}
.img-materials{
    position: relative;
    display: grid;
    grid-template-areas: "img1 img3 img3"  
                         "img2 img3 img3";
    align-items: center;
    justify-items: stretch;
    overflow: hidden;
}
.form{
    z-index: -1;
    border-radius: 30px;
}
.img-materials1{
    grid-area: img1;
}
.img-materials2{
    grid-area: img2;
}
.img-materials3{
    grid-area: img3;
}
.materials .text-wrap{
    margin-left: 50px;
}
.comments-text{
    text-align: center;
    margin-top: 240px;
}
.comments-text p{
    font-size: 18px;
    line-height: 21px;
    color: #E58411;
}
.comments-text h3{
    font-size: 42px;
    line-height: 49px;
}
.comme{
    position: relative;
}
.img-comm{
    position: absolute;
    z-index: -1;
    right: -6%;
}
.comments{
    margin-bottom: 263px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.com{
    margin-top: 219px;
    text-align: center;
    background-color: white;
    width: 334px;
    height: 239px;
    border-radius: 34px;
}
.com h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 50px;
}
.com .f1{
    font-size: 12px;
    line-height: 14px;
    color: #1E1E1E;
    opacity: 0.6;
}
.com p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.photo{
    position: absolute;
    right: 39%;
    top: 42%;
    background-color: #fff;
    border-radius: 73%;
}
footer{
    background-color: #F7F7F7;
}
.box-move{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.move{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.move a{
    text-decoration: none;
    color: #1E1E1E;
}
.move .dedicated{
    color: #F6973F;
}
.move h2{
    margin-top: 0;
}
.footer-box{
    padding: 118px 0 118px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.facebook{
    padding-left: 25px;
    background-image: url(img/facebook.svg);
    background-repeat: no-repeat;
}
.twitter{
    padding-left: 25px;
    background-image: url(img/twitter.svg);
    background-repeat: no-repeat;
}
.instagram{
    padding-left: 25px;
    background-image: url(img/instagram.svg);
    background-repeat: no-repeat;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 116px;
}
.footer-bottom p{
    color:#1E2833;
    opacity: 0.5;
}
.wrapper{
    display: flex;
    gap: 40px;
}
.wrapper a{
    text-decoration: none;
    color: #1E1E1E;
}
@media (max-width: 1250px){
    .experience .text-wrap {
        margin-right: 13px;
    }
    .text-wrap p{
        font-size: 14px;
    }
    .materials .text-wrap{
        margin-left: 13px;
        z-index: 1;
    }
}
@media (max-width: 1140px){
    .why{
        flex-direction: column;
    }
    .box-couse{
        gap: 88px;
    }
    .why-br{
        display: none;
    }
    .best-chair{
        display: grid;
        grid-template-areas: "chair1 chair2"  
                             "chair3 chair4";
    }
    .chair-1{
        grid-area: chair1;
    }
    .chair-2{
        grid-area: chair2;
    }
    .chair-3{
        grid-area: chair3;
    }
    .chair-4{
        grid-area: chair4;
    }
    .im{
        min-width: 420px;
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    .experience .text-wrap{
        z-index: 1;
        margin: 0 10px 0 20px
    }
    .text-wrap h2{
        font-size: 30px;
        line-height: 37px;
    }
    .img-materials3 {
        grid-area: img3;
        min-width: 141px;
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    .img-materials1 {
        grid-area: img1;
        min-width: 100px;
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    .img-materials2 {
        grid-area: img2;
        min-width: 100px;
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    .comments_3{
        display: none;
    }
}
@media (max-width: 1140px){
    .box-couse {
        gap: 56px;
    }
}
@media (max-width: 965px){
    .navigation li a {
        font-size: 12px;
        line-height: 15px;
    }
    .cause p {
        font-size: 13px;
    }
    h2 {
        font-size: 34px;
    }
    .displacement a {
        font-size: 15px;
    }
}
@media (max-width: 800px){
    .box-couse {
        gap: 34px;
    }
    h3 {
        font-size: 20px;
    }
    .cause p {
        font-size: 12px;
    }
    .text-wrap h2 {
        font-size: 23px;
        line-height: 34px;
    }
}
@media (max-width: 800px){
    .comments {
        margin-bottom: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .comments_3 {
        display: inherit;
    }
    .footer-box {
        padding: 64px 0 78px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 46px;
    }
    .results{
        text-align: center;
    }
    .box-move {
        width: 80%;
    }
    .experience {
        align-items: flex-end;
    }
    .form1 {
        top: 8%;
        width: 325px;
    }
}
@media (max-width: 705px){
    .navigation {
        gap: 34px;
    }
    .icon {
        font-size: 19px;
    }
    .form input {
        height: 44px;
    }
    .box-couse {
        flex-direction: column;
    }
    .footer-bottom {
        margin: 0 18px;
    }
    .experience {
        display: block;
    }
    .im {
        width: 72%;
    }
    .materials {
        margin-top: 176px;
        display: flex;
        flex-direction: column-reverse;
    }    
    .form1 {
        top: 8%;
        width: 268px;
    }
    .form2 {
        width: 403px;
        z-index: -2
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
    }
    .contents p {
        font-weight: 400;
        font-size: 11px;
    }
}
@media (max-width: 505px){
    .best-chair {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .contents {
        margin: 33px 0px 46% 0;
    }
    .form1 {
        left: 38%;
    }
}