body{
    margin: 0;
}
header, footer{
    background-color: #38423b;
}
.contact-header{
    display: flex;
    flex-direction: row;
    gap: 56px;
    align-items: center;
    justify-content: flex-end;
}
.contact-email a{
    background-image: url(img/mail.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 16px;
}
.contact-tell{
    display: flex;
    gap: 30px;
}
.contact-tell-uk, .contact-tell-est{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.contact-tell-uk a, .contact-tell-est a{
    background-image: url(img/tell.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 40px;
    text-decoration: none;
    text-decoration: none;
    color: aquamarine;
}
.my-work-container{
    width: 70%;
    background-color: #5e8268;
    color: #bde7e1;
    text-align: center;
    padding-bottom: 50px;
}
.my-works{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.my-work{
    width: 41%;
}
.my-work a img{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.my-work-box{
    padding: 50px;
}
.container{
    display: flex;
}
.about-me-container{
    width: 30%;
    background-color: #7cb78099;
    color: #6d5b0b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 30%;
}
.about-me-box p{
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}
.about-me-container img{
    width: 56%;
    height: auto;
    max-height: 100%;
    border-radius: 50%;
}