body {
    height: auto;
    margin: 0;
    background-color: #0F1113;
    font-family: Inter, sans-serif;
    color: white;
}


header {
    display: flex;
    border-bottom: 1px solid #313135;
}

.icon {
    width: 15%;
    background-color: #181C1F;
    display: flex;
    align-items: center;
}

.icon h1 {
    font-weight: 600;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.icon img {
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: auto;
    width: 36px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 83%;
}

.profile-container h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 46px;
}

.notice-chat {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 6px;
    font-size: 0;
    width: 22px;
    height: 22px;
}

.notice-chat img {
    width: 18px;
    margin: 9%;
}


.profile-button {
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: white;
    align-items: center;
    gap: 26px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 10px;
}

.profile-button div h3 {
    margin: 0;
}

.profile-button div p {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.profile-button div p img {
    width: 15px;
}

.profile-button img {
    width: 41px;
    border-radius: 50%;
}

.dropdown-content {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.dropdown:focus .dropdown-content {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.content-body {
    width: 85%;
}

.navigation-container {
    height: auto;
    width: 15%;
    background-color: #181C1F;
    float: left;
}

.navigation-container a {
    display: flex;
    gap: 18px;
    text-decoration: none;
    font-size: 87%;
    color: rgba(255, 255, 255, 0.6);
}

.navigation-container a img {
    width: 20px;
    padding-left: 10px;
}

.navigation-container a:hover {
    background: rgba(255, 151, 29, 0.1);
    border-radius: 5px;
    color: #FF971D;
}

.navigation-box {
    border-bottom: 1px solid #313135;
    padding: 25px;
}

.navigation-box-2 {
    margin-top: 25px;
}

.navigation-box-2 a {
    margin: 0 25px;
}

.button-upgrade {
    margin-top: 75px;
    margin-left: 10px;
    position: relative;
}

.upgrade-fon {
    width: 90%;
}

.upgrade-fon-2 {
    position: absolute;
    z-index: 1;
    top: 19%;
    left: 21%;
}

.button-upgrade a {
    padding: 12px;
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 14%;
    font-size: 16px;
    line-height: 24px;
    color: #0F1113;
    background: #FF971D;
    border-radius: 5px;
}

.exchange-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.exchange-box {
    background-color: #181C1F;
    display: flex;
    gap: 55px;
    padding: 20px;
    border: 3px solid;
    border-image: linear-gradient(140deg, #C26C04 -109.43%, #181C1F 53.76%, #C26C04 254.2%, #181C1F 13.51%) 1;
}

.exchange-box .schedule {
    margin-top: 10%;
}

.exchange p {
    color: rgba(255, 255, 255, 0.6);
}

.exchange-text {
    display: flex;
    gap: 15px;
}

.exchange-text h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    line-height: 29px;
}

.center-container {
    width: 73%;
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    background: rgba(24, 28, 31, 1);
}

.search-box {
    position: relative;
}

.search-box img {
    height: 100%;
    width: auto;
}

.search {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 4%;
    font-size: 27px;
    line-height: 12px;
    background-color: #22282C;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
    padding: 24px 15px 24px 30px;
    width: 89%;
}

.report-search {
    display: flex;
    justify-content: space-around;
}

.report-box {
    width: 29%;
    border-radius: 10px;
    background: #181C1F;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.report-box h1 {
    font-weight: 600;
}

.report {
    background: rgba(34, 40, 44, 1);
    border-radius: 10px;
    padding: 30px 50px 30px 30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.report-week img {
    background: rgba(1, 180, 126, 0.15);
    border-radius: 5px;
    padding: 16px;
}

.report-text p {
    margin: 0;
}

.report-week .color {
    color: rgba(1, 180, 126, 1);
    background-color: rgba(1, 180, 126, 0.25);
    padding: 4px 9px;
    width: max-content;
}

.report-month .color {
    color: rgba(248, 71, 71, 1);
    background-color: rgba(248, 71, 71, 0.25);
    padding: 4px 9px;
    width: max-content;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #181C1F;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input[type='radio'] {
    -webkit-appearance: none;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #FF971D;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #FF971D;
    box-shadow: inset 0px 0px 0px 2px rgb(0 0 0);
}

.chart-container {
    display: flex;
    justify-content: space-between;
}

.chart-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-button-chart {
    display: flex;
    text-decoration: none;
    padding: 5px;
    color: white;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 5px;
}

.profile-button-chart a p {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.profile-button-chart img {
    width: 20px;
}

.dropdown-content-chart {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.dropdown-chart:hover .dropdown-content-chart {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.chart {
    padding: 60px;
}

.chart-img {
    width: -webkit-fill-available;
}

.chart-text h1 {
    font-weight: 600;
    font-size: 24px;
}

.chart-text p {
    font-weight: 400;
    font-size: 16px;
}

.chart-radio-box label {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.recent-trading-container {
    padding: 60px;
}

.recent-trading-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recent-trading-text h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
}

.recent-trading-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.time-recent-trading {
    display: flex;
    align-items: center;
    border: 1px solid rgba(217, 217, 217, 0.3);
    border-radius: 5px;
}

.time-recent-trading a {
    text-decoration: none;
    padding: 13px 25px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.time-recent-trading a:not(:first-child) {
    border-left: 1px solid rgba(217, 217, 217, 0.3);
}

.time-recent-trading a:hover {
    color: rgba(24, 28, 31, 1);
    background: rgba(255, 151, 29, 1);
    border-radius: 5px;
}

.table {
    height: 400px;
    overflow: auto;
}

tbody {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

td {
    padding: 5px 82px 5px 0;
}

tr td img {
    width: 24px;
}

tr td:first-child div {
    display: flex;
    gap: 10px;
}

thead th {
    text-align: start;
}

.table-td-box {
    display: flex;
    flex-direction: column;
}

td,
th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(15, 17, 19, 1);
}

.grin {
    color: #16C782;
}

.red {
    color: rgba(234, 57, 67, 1);
}

.color-table {
    color: #FF971D;
    margin: 15px;
}

.content {
    display: flex;
    gap: 30px;
}

.trade-container {
    background-color: rgba(24, 28, 31, 1);
    margin-top: 69px;
    padding: 30px;
    border-radius: 10px;
}

.trade-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade-box {
    display: grid;
    gap: 30px;
    margin-bottom: 30px;
}

.trade {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22282C;
    border-radius: 5px;
}

.trade div {
    display: flex;
}

.trade p {
    border-right: 1px solid rgba(45, 45, 48, 1);
}

.trade-text-box .dropdown-chart a {
    background-color: #22282C;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.trade-text-box .dropdown-chart a p {
    margin: 0;
    display: flex;
    gap: 10px;
}

.trage-button {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.trage-button a {
    text-decoration: none;
    padding: 19px 69px;
    color: white;
}

.trage-button a:first-child {
    background: #01B47E;
}

.trage-button a:last-child {
    background: #F84747;
}

.history-container {
    background-color: rgba(24, 28, 31, 1);
    margin-top: 69px;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    gap: 25px;
}

.history-date {
    display: flex;
    justify-content: space-between;

}

.history-date h1 {
    font-weight: 600;
    font-size: 24px;
}

.history-date a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 13px 20px;
    border-radius: 5px;
    border: 1px solid rgba(217, 217, 217, 0.3)
}

.history-box {
    display: flex;
    gap: 10px;
    align-items: baseline;
    background: #22282C;
    border-radius: 10px;
    padding: 20px;
}

.history-text div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-box img {
    width: 20px;
}

.history-text div h2 {
    font-weight: 600;
    font-size: 18px;
}

.history-text p:not(.red, .grin) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);

}

.body {
    display: flex;
}

.transfer-container {
    background-color: rgba(24, 28, 31, 1);
    margin-top: 69px;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    gap: 25px;
}

.transfer-text h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.transfer-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.carousel-box {
    position: relative;
    overflow: hidden;
    height: 100px;
}

.button-carousel {
    position: absolute;
    z-index: 1;
}

#button_left_carousel {
    top: 36%;
    left: 0%;
}

#button_right_carousel {
    right: 0%;
    top: 36%;
}

.carousel {
    width: 1000000px;
    position: absolute;
    left: 0;
    top: 0;
}

.animate {
    transition: all ease 0.25s;
}

.check {
    margin-left: 10px;
    float: left;
}

.check a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66px;
    height: 67px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background: linear-gradient(0deg, #22282C, #22282C),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.check a:hover {
    border: 1px solid rgba(255, 151, 29, 1);
    color: #FF971D;
}

.amount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, #22282C, #22282C),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 5px;
    padding: 6px 15px;
}

.amount input {
    outline: none;
    background: linear-gradient(0deg, #22282C, #22282C),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border: none;
    color: rgba(255, 151, 29, 1);
}

.amount p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

.amount input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 151, 29, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.amount input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 151, 29, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.amount input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 151, 29, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.amount input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 151, 29, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.transfer-button a {
    background: linear-gradient(0deg, #FF971D, #FF971D),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 18px;
    border-radius: 6px;
}
.earnings-container{
    background-color: rgba(24, 28, 31, 1);
    margin-top: 69px;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    gap: 25px;
}
.earnings-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.earnings-date .dropdown-chart a{
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.6);
}
.earnings-date h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}