body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgba(48, 48, 48, 1);
    position: relative;
}

.header {
    position: relative;
    overflow: hidden;
    background-image: url(/portfolio/crypto/img/darkBody-fon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


header {
    margin-bottom: 103px;
}

.course-crypto-container {
    display: flex;
    justify-content: space-around;
    background: #424242;
}

.course-crypto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.course-crypto p {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
}


.triangle-top {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #5DD662;
}

.course-crypto .grin {
    color: #5DD662;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #FF7272;
}

.course-crypto .red {
    color: #FF7272;
}

.menu-container {
    margin: 0 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1 {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.menu a:hover {
    color: rgba(225, 190, 231, 1);
}

.login-container {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0 31px 0 0;
}

.login-text {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.register-text {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 12px 21px;
    background-color: #FFA000;
}

.settings {
    position: relative;
    padding: 0 0 0 31px;
    border-left: 1px solid rgba(151, 151, 151, 1);
}

.darkButtonBox {
    position: absolute;
    bottom: -75px;
    left: -115px;
    border-radius: 30px;
    width: 200px;
    height: auto;
    border: 1px solid rgba(225, 190, 231, 1);
    opacity: 0;
    z-index: -300;
    display: flex;
    align-items: center;
}

.active {
    opacity: 1;
    z-index: 300;
}

.darkButtonBox p {
    color: #fff;
    margin: 0;
    padding: 15px;
    font-weight: 500;
}

.darkButton {
    position: relative;
    width: 50px;
    height: 25px;
    border: 2px solid rgba(225, 190, 231, 1);
    border-radius: 50px;
    cursor: pointer;
}

.darkButton::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: rgba(225, 190, 231, 1);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.darkButton.darkButtonActive::before {
    left: calc(100% - 23px);
}

.dark .settings-login a ion-icon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.54);
}

.settings a ion-icon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.54);
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 113px;
    margin-bottom: 113px;
}

.subtitle .text h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #fff;
}

.subtitle .text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: rgba(225, 225, 225, 0.87);
}

.subtitle .button-started {
    display: flex;
    gap: 16px;
    align-items: center;
}

.subtitle .button-started a {
    text-decoration: none;
    padding: 15px 31px;
    color: rgba(225, 190, 231, 1);
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgba(225, 190, 231, 1)
}

.subtitle .button-started .colors {
    color: rgba(255, 255, 255, 1);
    background-color: #9C27B0;
}

.pros-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 121px;
}

.pros:nth-last-of-type(3),
.pros:nth-last-of-type(2) {
    border-right: 1px solid rgba(151, 151, 151, 1);
    padding-right: 126px;
}

.pros a {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.87);
}

.pros a h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 0;
}

.pros a:hover h2 {
    color: rgba(255, 111, 0, 1);
}

.pros a p {
    font-weight: 500;
    font-size: 18px;
}

.pros a:hover p {
    color: rgba(225, 190, 231, 1);
}

.group-1 {
    text-align: center;
    margin-bottom: 80px;
}

.group-1 img {
    width: 80%;
}

.protection-container {
    margin: 0 112px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.protection:nth-last-of-type(3),
.protection:nth-last-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.protection3 {
    text-align: center;
}

.protection3 .protection-text {
    margin-bottom: 40px;
}

.protection-text h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.87);
}

.protection-text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.87);
}

.protection1 .protection-text h2 .hexagon img {
    position: absolute;
    top: 23%;
    left: 23%;
}

.protection2 .protection-text h2 .hexagon img {
    position: absolute;
    top: 23%;
    left: 30%;
}

.protection3 .protection-text h2 .hexagon img {
    position: absolute;
    top: 15%;
    left: 28%;
}

.protection3 .protection-text h2 .hexagon {
    margin-left: 49%;
}

.hexagon img {
    transform: rotate(90deg);
}

.hexagon {
    background: linear-gradient(190.4deg, #9C27B0 23.61%, #FFA000 107.05%);
    transform: rotate(-90deg);
    position: relative;
    width: 55px;
    height: 55px;
}

#hexagon {
    display: block;
    margin-bottom: 15px;
    clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
}

.container-contant-carousel1 {
    height: 750px;
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(190.4deg, rgb(106, 27, 154, 0.3) 23.61%, rgb(255, 111, 0, 0.3) 107.05%);
}

.hexagon-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.hexagon1-carousel1,
.hexagon2-carousel1,
.hexagon3-carousel1,
.hexagon4-carousel1 {
    position: absolute;
}

.hexagon1-carousel1 {
    background: linear-gradient(125.02deg, #FFA000 23.72%, #FFECB3 130.92%);
    transform: rotate(359deg);
    width: 92px;
    height: 92px;
    left: 254.87px;
    top: 13%;
}

.hexagon2-carousel1 {
    width: 300px;
    height: 300px;
    left: 7%;
    top: 33%;
    background: rgba(0, 0, 0, 0.12);
    opacity: 0.4;
    transform: rotate(29deg);
}

.hexagon3-carousel1 {
    z-index: 1;
    width: 260px;
    height: 260px;
    left: 30%;
    top: 24px;
    background: rgba(0, 0, 0, 0.12);
    mix-blend-mode: normal;
    opacity: 0.4;
    transform: rotate(30deg);
}


.hexagon4-carousel1 {
    width: 100px;
    height: 100px;
    left: 79%;
    top: 60%;
    background: linear-gradient(95.65deg, #9C27B0 -43.35%, #E1BEE7 153.35%);
    transform: rotate(0deg);
}

.hexagon-text-carousel1 {
    background: linear-gradient(190.4deg, #9C27B0 23.61%, #FFA000 107.05%);
    width: 50px;
    height: 50px;
    margin-left: 49%;
}

.contant-text-carousel1 {
    margin-bottom: 50px;
    z-index: 2;
}

.contant-text-carousel1 h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.87);
}

.contant-text-carousel1 p {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.87);
}

.swiper {
    width: 767px;
    height: auto;
    overflow: hidden;
}

.carousel1 {
    display: flex;
}

.carousel1 img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.box-contant-carousel2 {
    margin-top: 300px;
    margin-bottom: 200px;
    width: 100%;
    overflow: hidden;
}

.contant-text-carousel2 {
    text-align: center;
}

.contant-text-carousel2 h1 {
    font-weight: 600;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.87);
}

.contant-text-carousel2 p {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.87);
}

.container-carousel2 {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.swiper2 {
    margin-left: 10%;
    width: 3000px;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.carousel-container {
    position: relative;
}

.carousel2 {
    position: absolute;
    display: flex;
    gap: 50px;
    z-index: 2;
}

.card {
    background: rgba(66, 66, 66, 1);
    border-radius: 30px;
    padding: 25px;
    width: 300px;
}

.text-card {
    display: flex;
    align-items: center;
    gap: 30px;
}

.text-card img {
    width: 55px;
}

.name-card {
    display: flex;
    align-items: center;
}

.name-card h2 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.87);
}

.text-top p {
    color: rgba(255, 255, 255, 0.87);
}

.text-top ion-icon {
    color: #fff;
}

.percent-cart-box {
    color: rgba(255, 255, 255, 0.5);
}

.percent-cart-box .grin {
    color: rgba(93, 214, 98, 1);
}

.percent-cart-box .red {
    color: rgba(255, 114, 114, 1);
}

.amount-box p:nth-child(2) {
    color: rgba(255, 255, 255, 0.5);
}

.name-card p {
    margin: 0 0 0 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #77777762;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.87);
}

.text2-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-top {
    display: flex;
    align-items: center;
}

.percent-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.percent-card p {
    margin: 0;
}

.card .price {
    font-size: 30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87);
}

.amount-box p:nth-child(1) {
    margin: 0;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87);
}

.button-carousel2 .button-left-box {
    font-size: 0;
}

.button-carousel2 .button-left {
    background-color: #fff;
    width: 40px;
    height: 40px;
    clip-path: polygon(75% 0, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0);

}

.button-carousel2 .button-right-box {
    width: 40px;
    height: 40px;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.button-carousel2 .button-right {
    background-color: #fff;
    width: 40px;
    height: 40px;
    clip-path: polygon(55% 0, 100% 50%, 55% 100%, 25% 100%, 75% 50%, 25% 0);

}

.button-carousel2 .button-left-container {
    z-index: 100;
    position: absolute;
    top: 68%;
    left: -10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(106, 27, 154, 1);
    padding: 15px;
}

.button-carousel2 .button-right-container {
    z-index: 100;
    position: absolute;
    top: 68%;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(106, 27, 154, 1);
    padding: 15px;
}

.container-contant-carousel2 {
    position: relative;
}

.animate {
    transition: all ease 0.25s;
}

.button-carousel3 .button-left {
    background: #E1BEE7;
    width: 20px;
    height: 20px;
    clip-path: polygon(75% 0, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0);

}

.button-carousell3 .button-right-box {
    width: 20px;
    height: 20px;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.button-carousel3 .button-right {
    background: #E1BEE7;
    width: 20px;
    height: 20px;
    clip-path: polygon(55% 0, 100% 50%, 55% 100%, 25% 100%, 75% 50%, 25% 0);

}

.button-left-container {
    z-index: 100;
    position: absolute;
    top: 68%;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #6A1B9A;
    box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.button-right-container {
    z-index: 100;
    position: absolute;
    top: 68%;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #6A1B9A;
    box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.cart3 {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    width: 850px;
    height: 200px;
    text-align: center;
    background: #424242;
    border: 2px solid #6A1B9A;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
}

.cart3 p {
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
}

.cart3 img {
    position: absolute;
    top: -57px;
    left: 44%;
}

.container-carousel3 {
    margin: 0;
    overflow: hidden;
    width: 1000px;
    height: 450px;
    position: relative;
}

.container-carousel3 img {
    position: absolute;
}

.container-carousel3 .fon1 {
    position: absolute;
    border-radius: 20px;
    width: 81%;
    height: 300px;
    top: 21%;
    left: 10%;
    z-index: 2;
    background: #424242;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
}

.container-carousel3 .fon2 {
    position: absolute;
    border-radius: 20px;
    width: 66%;
    height: 300px;
    top: 29%;
    left: 17%;
    z-index: 1;
    background: #424242;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);

}

.carousel3 {
    left: -189%;
}

.box-coment-carousel3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-left-carousel3 {
    top: 185%;
    left: -25%;
    border-radius: 10px;
}

.button-right-carousel3 {
    top: 185%;
    left: 116%;
    border-radius: 10px;
}

.container-carousel4 {
    margin-bottom: 100px;
}

.container-carousel4 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-carousel4 .swiper-slide img {
    width: 100px;
    height: auto;
    min-height: auto;
}

.card-carousel5 {
    display: flex;
    align-items: center;
    gap: 35px;
}

.container-carousel4 .swiper {
    width: 1050px;
    height: 250px;
    overflow: hidden;
}

.carousel4-text h2 {
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.54);
}

.carousel4-text p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.carousel4-text a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(225, 190, 231, 1);
}

.container-carousel4 .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: 230px;
    left: 0;
    width: 100%;
}

.container-carousel4 .swiper-pagination .swiper-pagination-bullet-active {
    width: 30px;
    height: 15px;
    border-radius: 10px;
    background: linear-gradient(209.09deg, #E1BEE7 9.22%, #FFECB3 102.34%);
}

.container-carousel4 .swiper-pagination-bullet {
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
    display: inline-block;
    border-radius: 10px;
    background: rgba(48, 48, 48, 1);
    border: 1px solid rgba(225, 190, 231, 1);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1.2);
}

footer {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    background-image: url(/portfolio/crypto/img/footer-fon-dark.svg);
    background-size: inherit;
    background-position-y: bottom;
}

.container-mobile-apps {
    text-align: center;
}

.user-counting {
    margin-top: 80px;
}

.user-counting h1 {
    font-weight: 700;
    font-size: 48px;
    color: rgba(225, 190, 231, 1);
}

.user-counting p {
    font-weight: 500;
    font-size: 24px;
    color: rgba(225, 190, 231, 1);
}

.box-start h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 32px;
}

.box-start {
    margin-top: 80px;
}

.box-start a {
    padding: 11px 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    background: rgba(255, 160, 0, 1);
    border-radius: 6px;
}

.footer {
    display: flex;
    margin: 50px 50px;
    justify-content: space-around;
    align-items: stretch;
}

.footer-logo p:first-child {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.footer-logo p:last-child {
    font-weight: 400;
    font-size: 16px;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company h1 {
    font-weight: 700;
    font-size: 18px;
    color: rgba(225, 190, 231, 1);
}

.company a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.company a:hover {
    color: rgba(156, 39, 176, 1);
}

.social-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    gap: 10px;
}

.social a {
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-decoration: none;
    color: #E1BEE7;
    padding: 10px;
    border-radius: 50%;
    background: #424242;
}

.language {
    margin-top: 30px;
    padding: 10px 10px 10px 40px;
    border: 1px solid rgba(106, 27, 154, 1);
    background-image: url(/portfolio/crypto/img/language-img-dark.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;

}

.language a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.language-box {
    display: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language-box {
    display: none;
}

.language:hover .language-box {
    display: flex;
}

.box-fon-footer {
    width: 100%;
    height: auto;
}

.footer-logo p {
    color: rgba(255, 255, 255, 1);
}

/* STYLE FOR LOGIN FORM */
.login-container-body .header {
    background-image: none;
}

.container-fon {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    background-image: url(/portfolio/crypto/img/footer-fon-dark.svg);
    background-size: inherit;
    background-position-y: bottom;
}

.container-fon {
    width: 100%;
    height: auto;
}

.container-fon footer {
    background-image: none;
}

.box-fon-footer-login .fon-footer {
    top: -239px;
}

.menu-container-login {
    margin: 0 30px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container-login .logo a {
    text-decoration: none;
}

.register a {
    padding: 0 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    border-right: 1px solid rgba(151, 151, 151, 1)
}

.register-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.body-login {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.body-login .login-container {
    border: 1px solid rgba(156, 39, 176, 1);
    border-radius: 20px;
}

.form-right {
    text-align: center;
}

.form-right-text h1 {
    color: rgba(225, 190, 231, 1);
    font-weight: 400;
    font-size: 42px;
}

.form-right-text p {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 24px;
}

.body-login .login-container {
    background-color: rgba(66, 66, 66, 1);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
    margin: 30px;
}

.social-container-login {
    width: 95%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.social-container-login h2 {
    color: rgba(225, 190, 231, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.social-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.social-login a {
    color: #fff;
    width: 140px;
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social-login .facebook {
    background: rgba(88, 86, 214, 1);
}

.social-login .twitter {
    background: rgba(0, 188, 212, 1);
}

.social-login .google {
    background: rgba(216, 66, 38, 1);
}

.social-container-login p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: rgba(255, 255, 255, 0.54);
    font-weight: 400;
    font-size: 16px;
}

.social-container-login p::before {
    content: "";
    width: 56px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.social-container-login p::after {
    content: "";
    width: 56px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.login-form-box {
    width: 95%;
}

.inputBox {
    margin-top: 30px;
    position: relative;
    width: 95%;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-bottom: rgba(255, 255, 255, 0.12);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.56);

}

.inputBox span {
    position: absolute;
    left: 10px;
    top: 15px;
    pointer-events: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.54);
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: rgba(255, 111, 0, 1);
    font-size: 10px;
    transform: translateY(-14px);
}

.inputBox input:valid,
.inputBox input:focus {
    border-bottom: 1px solid rgba(255, 160, 0, 1)
}

.forgot-password-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fake {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255, 160, 0, 1);
    border-radius: 3px;
    border: 1px solid rgba(255, 160, 0, 1);
    position: relative;
}

.fake::before {
    content: "";
    position: absolute;
    clip-path: polygon(38% 80%, 89% 0, 100% 0, 42% 100%, 36% 100%, 0 59%, 0 47%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 11px;
    height: 11px;
    background-color: rgba(66, 66, 66, 1);
    opacity: 1;
    transition: .2s;
}

.checkbox:checked+.fake {
    border: 1px solid black;
    background-color: #F2F2F2;
}

.checkbox:checked+.fake::before {
    opacity: 0;
}

.checkbox-text {
    color: rgba(255, 255, 255, 1);
}

.fogot-password a {
    text-decoration: none;
    color: rgba(225, 190, 231, 1);
    font-weight: 400;
    font-size: 18px;
}

.continue-button {
    background: rgba(156, 39, 176, 1);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    width: 95%;
    margin: 30px 0;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

/* STYLE FOR REGISTER FORM */

.register-password {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forgot-password-box-register .continue-button {
    width: auto;
}

.register-password .inputBox {
    width: 49%;
}

.register-password .inputBox input {
    width: -webkit-fill-available;
}

.forgot-password-box-register {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.checkbox-text a {
    text-decoration: none;
    color: rgba(225, 190, 231, 1);
}

/* STYLE FOR CONTACT FORM */
.body-contact {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 80%;
}

.contact-form-box .inputBoxLast {
    width: 96%;
}

.request_input textarea {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 98%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.request_input {
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.contact-form-box .continue-button {
    width: 40%;
}

.social-container-contact h2 {
    color: rgba(225, 190, 231, 1);
    font-size: 48px;
    font-weight: 700;
}

.social-container-contact p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
}
/* STYLE CHAT */

.chatContainer {
    width: 289px;
    height: 650px;
    position: fixed;
    bottom: -21%;
    left: 80%;
    z-index: 400;
}

.chatBox {
    background-color: rgba(66, 66, 66, 1);
    opacity: 1;
    z-index: 30000000;

}

.activeChat {
    opacity: 0;
    z-index: -300;

}

.nameChat {
    background: rgba(106, 27, 154, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.onlineBox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.onlineBox p {
    font-weight: 700;
    font-size: 16px;
    color: rgba(225, 190, 231, 1);
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #07D517;
}

.textChat {
    padding: 15px;
}

.receiveText {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.sendText-box {
    display: flex;
    justify-content: flex-end;
}

.sendText {
    background-color: rgba(255, 236, 179, 1);
    border-radius: 8px;
    margin-bottom: 15px;
}

.sendText p {
    margin: 0;
    padding: 10px 15px 10px 10px;
    font-weight: 500;
    font-size: 400;
    color: rgba(255, 111, 0, 1);
}

.receiveText .text {
    background: rgba(225, 190, 231, 1);
    border-radius: 8px;
    margin-bottom: 15px;
}

.receiveText .text p {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 400;
    color: rgba(106, 27, 154, 1);
}

.sendMessenger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sendButton {
    padding: 8px 5px 5px 8px;
    background: rgba(225, 190, 231, 1);
    border-radius: 100%;
}

.sendMessenger textarea {
    width: 80%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.1);
}

.openChat {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.openChatBox {
    width: 36px;
    height: 33px;
    padding: 10px;
    border-radius: 100%;
    background: rgba(225, 190, 231, 1);
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
}

.openChat-box img {
    width: 30px;
    height: 30px;
}
@media (max-width: 1540px) {
    .chatContainer {
        left: 75%;
    }
}

@media (max-width: 1450px) {
    .header {
        background-size: unset;
    }
}

@media (max-width: 1350px) {
    .form-right-text h1 {
        font-size: 35px;
    }

    .form-right-text p {
        font-size: 18px;
    }

    .form-right-text {
        margin-bottom: 30px;
    }

    .login-container {
        width: 50%;
    }

    .form-right {
        width: 50%;
    }
}
@media (max-width: 1220px) {
    .chatContainer {
        left: 71%;
    }
}

@media (max-width: 1190px) {
    .protection-container {
        margin: 0 50px;
        gap: 60px;
    }

    .subtitle {
        margin-left: 50px;
        margin-bottom: 150px;
    }

    .pros:nth-last-of-type(3),
    .pros:nth-last-of-type(2) {
        padding-right: 50px;
    }

    .pros-container {
        margin-bottom: 100px;
    }

    .protection-text p {
        font-size: 17px;
        line-height: 27px;
    }

    .protection-text h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .protection-text h2 .hexagon img {
        width: 17px;
    }

    .hexagon {
        width: 40px;
        height: 40px;
    }

    .protection1 .protection-text h2 .hexagon img {
        width: 21px;
    }

    .contant-text-carousel1 p {
        font-size: 19px;
        line-height: 14px;
    }

    .contant-text-carousel1 h1 {
        font-size: 26px;
        line-height: 48px;
    }

    .hexagon2-carousel1 {
        width: 200px;
        height: 200px;
    }

    .hexagon1-carousel1 {
        width: 100px;
        height: 100px;
    }

    .footer {
        display: grid;
        margin: 50px 50px;
        grid-template-areas: "company1 company2 company3"
            "foter-logo foter-logo social-box";
        align-items: baseline;
        gap: 33px;
    }

    .footer-logo {
        grid-area: foter-logo;
    }

    .company1 {
        grid-area: company1;
    }

    .company2 {
        grid-area: company2;
    }

    .company3 {
        grid-area: company3;
    }

    .social-box {
        grid-area: social-box;
    }

    .course-crypto-container {
        width: auto;
        display: flex;
        justify-content: normal;
        gap: 20px;
    }

    .course-crypto-container::-webkit-scrollbar {
        width: 0;
    }

    .course-crypto-box {
        width: 100%;
        overflow: hidden;
    }

    .menu-container {
        margin: 0px 20px;
    }

    .button-right-carousel3 {
        left: 134%;
    }

    .button-left-carousel3 {
        left: -46%;
    }

    .social-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}
@media (max-width: 1030px) {
    .chatContainer {
        left: 67%;
    }
}

@media (max-width: 1110px) {
    .darkButtonBox {
        bottom: -6px;
        left: 90px;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .subtitle {
        margin-left: 50px;
        margin-bottom: 150px;
        display: grid;
        grid-template-areas: "text-subtitle text-subtitle"
            ". img-fon";
        align-items: baseline;
        gap: 33px;
    }

    .text-subtitle {
        grid-area: text-subtitle;
    }

    .img-fon {
        grid-area: img-fon;
    }

    .pros-container {
        display: grid;
        grid-template-areas:
            "pros1 pros2"
            "pros3 pros3";
        align-items: baseline;
        gap: 33px;
        justify-items: center;
    }

    .pros1 {
        grid-area: pros1;
    }

    .pros2 {
        grid-area: pros2;
    }

    .pros3 {
        grid-area: pros3;
    }

    .container-carousel4 .swiper {
        width: 536px;
        height: 370px;
        overflow: hidden;
    }

    .container-carousel4 .swiper-slide {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

    .swiper .swiper-wrapper {
        height: 77%;
    }

    .container-carousel4 .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        top: 347px;
        left: 0;
        width: 100%;
    }

    .carousel3 {
        left: -207%;
    }

    .container-carousel3 {
        width: 580px;
    }

    .cart3 {
        width: 493px;
    }

    .cart3 img {
        top: -57px;
        left: 41%;
    }

    .button-right-carousel3 {
        top: 192%;
        left: 103%;
        border-radius: 10px;
    }

    .button-left-carousel3 {
        top: 192%;
        left: -12%;
        border-radius: 10px;
    }

}
@media (max-width: 920px) {
    .chatContainer {
        left: 60%;
    }
}

@media (max-width: 900px) {
    .container-fon {
        background-size: cover;
    }

    .protection:nth-last-of-type(3) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .protection:nth-last-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .protection .protection-text h2 .hexagon {
        margin-left: 47%;
    }

    .contant-text-carousel1 p {
        font-size: 15px;
        line-height: 14px;
    }

    .hexagon-text-carousel1 {
        margin-left: 47%;
    }

    .container-carousel2 {
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .swiper2 {
        margin-left: 211%;
        width: 3000px;
        height: 330px;
        position: relative;
        overflow: hidden;
    }

    .button-carousel2 .button-right-container {
        top: 40%;
    }

    .button-carousel2 .button-left-container {
        top: 40%;
    }

    .box-contant-carousel2 {
        margin-top: 233px;
        margin-bottom: 50px;
    }

    .container-carousel3 {
        height: 323px;
    }

    .container-carousel2 {
        margin-top: 0px;
        padding-bottom: 100px;
    }

    .button-right-carousel3 {
        top: 180%;
        left: 115%;
    }

    .button-left-carousel3 {
        top: 180%;
        left: -26%;
    }

    /* STYLE FOR LOGIN FORM */
    .body-login {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .body-login .login-container {
        width: 85%;
    }

    .login-container {
        width: 80%;
    }

    .form-right {
        width: 80%;
    }

    .form-right-text h1 {
        font-size: 44px;
    }

    .form-right-text p {
        font-size: 22px;
    }
}

@media (max-width: 850px) {
    .swiper {
        width: 500px;
        height: auto;
        overflow: hidden;
    }

    .container-contant-carousel1 {
        height: 570px;
    }

    .menu-box {
        display: flex;
        align-items: center;
        gap: 6px;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .mobile-apps img {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 775px) {
    .carousel2 {
        left: -237px;
    }

    .protection3 img {
        width: 100%;
        height: auto;
    }

    .pros-container {
        display: flex;
        align-items: center;
        gap: 33px;
        justify-items: center;
        flex-direction: column;
    }

    .pros:nth-last-of-type(3),
    .pros:nth-last-of-type(2) {
        padding-right: 0px;
    }

    .pros:nth-last-of-type(3),
    .pros:nth-last-of-type(2) {
        border-bottom: 1px solid rgba(151, 151, 151, 1);
        border-right: none;
    }

    .pros {
        text-align: center;
    }

    .subtitle {
        margin-bottom: 100px;
    }

    .swiper2 {
        margin-left: 256%;
    }
}
@media (max-width: 760px) {
    .chatContainer {
        left: 57%;
    }
}

@media (max-width: 710px) {
    .carousel2 {
        left: 10px;
    }

    .subtitle .button-started {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }

    .text-subtitle {
        text-align: center;
    }

    .subtitle {
        margin-left: 0px;
    }

    header {
        margin-bottom: 55px;
    }

    /* STYLE FOR CONTACT FORM */

    .social-container-contact p {
        font-size: 15px;
    }

    .social-container-contact h2 {
        font-size: 38px;
    }

    .contact-form-box .register-password {
        flex-direction: column;
    }

    .contact-form-box .register-password .inputBox {
        width: 100%;
    }

    .contact-form-box .continue-button {
        width: 25%;
    }

    .request_input textarea {
        width: 96%;
    }

    .menu-container-login {
        flex-direction: column;
        gap: 15px;
    }

}
@media (max-width: 700px) {
    .chatContainer {
        left: 54%;
    }
}

@media (max-width: 680px) {
    .chatContainer {
        left: 45%;
    }
    .darkButtonBox {
        bottom: -65px;
        left: -122px;
    }
    
    .subtitle .text h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .subtitle .text h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .swiper2 {
        margin-left: 273%;
    }

    .cart3 {
        width: 267px;
        height: 150px;
        padding: 15px;
    }

    .cart3 p {
        margin-top: 22px;
        font-weight: 400;
        font-size: 12px;
    }

    .cart3 img {
        top: -37px;
        left: 37%;
        width: 80px;
    }

    .carousel3 {
        left: -331px;
        height: 262px;
    }

    .footer {
        display: grid;
        margin: 50px 50px;
        grid-template-areas:
            "company1 company1 company2 company2 "
            ". company3 company3 ."
            "foter-logo foter-logo social-box social-box";
        align-items: baseline;
        gap: 33px;
        justify-items: center;
    }

    .company {
        text-align: center;
    }

    .button-right-carousel3 {
        top: 155%;
        left: 92%;
    }

    .button-left-carousel3 {
        top: 155%;
        left: -4%;
    }

    .container-carousel3 {
        width: 337px;
        margin: 0;
    }

    .container-carousel3 .fon1 {
        height: 179px;
    }

    .container-carousel3 .fon2 {
        height: 168px;
    }

}

@media (max-width: 620px) {
    .swiper2 {
        margin-left: 302%;
    }

    .subtitle {
        margin-left: 0px;
        margin-bottom: 100px;
        display: grid;
        grid-template-areas:
            "text-subtitle"
            " img-fon";
        align-items: baseline;
        gap: 0px;
    }

    .subtitle .img-fon img {
        width: 100%;
        height: auto;
    }

    .box-contant-carousel2 {
        margin-top: 157px;
        margin-bottom: 50px;
    }

    .contant-text-carousel1 {
        margin-bottom: 0px;
        z-index: 2;
    }

    .protection img {
        width: 100%;
        height: auto;
    }

    .group-1 img {
        width: 97%;
    }

    .hexagon1-carousel1 {
        left: 37.87px;
        top: 10%;
    }

    .hexagon3-carousel1 {
        left: 71%;
        top: 0px;
    }

    .hexagon2-carousel1 {
        left: -19%;
        top: 33%;
    }

    /* STYLE FOR LOGIN FORM */

    .form-right-text h1 {
        font-size: 36px;
    }

    .form-right-text p {
        font-size: 17px;
    }
}

@media (max-width: 610px) {
    .footer {
        display: grid;
        margin: 50px 50px;
        grid-template-areas:
            "company1 company1 company2 company2 "
            ". company3 company3 ."
            ". social-box social-box ."
            ". foter-logo foter-logo ."
        ;
        align-items: baseline;
        gap: 33px;
        justify-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }

    .footer-logo {
        text-align: center;
    }

    .text-subtitle .text {
        margin-bottom: 50px;
    }

    .container-carousel4 .swiper {
        width: 400px;
        height: 370px;
        overflow: hidden;
    }
}

@media (max-width: 610px) {
    .card {
        border-radius: 30px;
        padding: 15px;
        width: 267px;
    }

    .card .price {
        font-size: 22px;
        font-weight: 600;
    }

    .text-card {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    .swiper2 {
        margin-left: 355%;
    }

    .button-carousel2 .button-right-container {
        top: 30%;
    }

    .button-carousel2 .button-left-container {
        top: 30%;
    }

    .contant-text-carousel1 p {
        font-size: 15px;
        line-height: 29px;
    }
}

@media (max-width: 560px) {
    .chatContainer {
        bottom: -22%;
        left: 37%;
    }
    .swiper2 {
        margin-left: 389%;
    }

    .swiper {
        width: 400px;
    }

    .container-contant-carousel1 {
        height: 500px;
    }

    .swiper2 {
        margin-left: 434%;
    }

    .menu {
        gap: 10px;
    }

    /* STYLE FOR LOGIN FORM */

    .social-login {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .box-fon-footer-login .fon-footer {
        top: 282px;
    }

    .form-right-text h1 {
        font-size: 31px;
    }

    .form-right-text p {
        font-size: 13px;
    }

    /* STYLE FOR REGISTER FORM */

    .register-password {
        flex-direction: column;
    }

    .register-password .inputBox {
        width: 95%;
    }

    .register-form-box .inputBox input {
        position: relative;
        width: 98%;
    }

    .forgot-password-box-register {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
    }

    .forgot-password-box-register .continue-button {
        width: 100%;
    }
}
@media (max-width: 490px) {
    .chatContainer {
        bottom: -22%;
        left: 27%;
    }
}

@media (max-width: 465px) {
    .button-right-carousel3 {
        top: 155%;
        left: 85%;
    }

    .button-left-carousel3 {
        top: 155%;
        left: 4%;
    }

    .menu-container-login {
        margin: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .inputBox input {
        width: 95%;
    }
}

@media (max-width: 412px) {
    .button-right-carousel3 {
        top: 168%;
        left: 88%;
    }

    .button-left-carousel3 {
        top: 168%;
        left: 0%;
    }

    .footer {
        display: grid;
        margin: 50px 50px;
        grid-template-areas:
            "company1 company1"
            "company2 company2"
            "company3 company3"
            "social-box social-box"
            "foter-logo foter-logo";
        align-items: baseline;
        gap: 33px;
        justify-items: center;
    }

    .swiper2 {
        margin-left: 504%;
    }

    .protection-text {
        text-align: center;
    }

    .swiper2 {
        margin-left: 371%;
    }

    .subtitle .button-started a {
        font-size: 12px;
    }

    .button-carousel2 .button-right-container {
        padding: 10px;
        top: 36%;
    }

    .button-carousel2 .button-left-container {
        top: 36%;
        padding: 10px;
    }

    .carousel4-text p {
        font-size: 12px;
    }

    .container-carousel4 .swiper-slide img {
        width: 86px;
    }

    .container-carousel4 .swiper {
        width: 344px;
    }

    .box-start h2 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .user-counting h1 {
        font-size: 40px;
    }

    .user-counting p {
        font-size: 18px;
    }

    .subtitle .text h1 {
        font-size: 20px;
        line-height: 33px;
    }

    .subtitle .text h2 {
        font-size: 13px;
        line-height: 19px;
    }

    .container-contant-carousel1 {
        padding-top: 0px;
    }

    .contant-text-carousel1 h1 {
        font-size: 18px;
        line-height: 26px;
    }

    .hexagon-text-carousel1 {
        width: 30px;
        height: 30px;
        margin-left: 46%;
    }
}
@media (max-width: 380px) {
    .chatContainer {
        left: 19%;
    }
}