body{
    width: 100%;
    height: 100vh;
    background-color: #0e0e0ec2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-box{
    width: 56%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-color: #1d1d20;
    color: azure;
    box-shadow: 0px 0px 16px #262525;
}
.conclusion{
    width: 100%;
    outline: none;
    color: azure;
    background-color: #1d1d20;
    border: none;
    text-align: end;
    font-size: 40px;
}
.btn{
    border-radius: 50%;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    background-color: #333;
}
.btn:hover{
    filter: brightness(120%)
}
.btn:active{
    filter: brightness(90%)
}
.button-box{
    display: grid;
    grid-template-areas: 
    "as plus-minus percent division"
    "seven eigth nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    gap: 15px;
}
.bg-orange{
    background-color: #734f00ee;
}
.bg-grey{
    background-color: #555555;
}
.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 30px;
}
@media (max-width: 380px) {
    .calculator-box {
        width: auto;
    }
}